@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<section class="banner_cadastro">
    <h2>Cadastro de Times</h2>
</section>

<section class="box_cadastro_lista">
    <section class="box_cadastro_times">
        <form class="dados_time" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
            <label>ID</label>
            <input type="text" name="IdEquipe">

            <label>Nome</label>
            <input type="text" name="Nome">

            <label>Imagem</label>
            <input type="file" name="Imagem">

            <button class="cadastrar_time" type="submit">Cadastrar</button>
        </form>
    </section>

    <section class="lista_times">
        <table>
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Logo</th>
                <th></th>
            </thead>

            <tbody>
                @foreach (Equipe item in ViewBag.Equipes)
                {
                    <tr>
                        <td>@item.idEquipe</td>
                        <td>@item.Nome</td>
                        <td><img src="/img/Equipes/@item.Imagem" alt="Imagem da equipe @item.Nome" width="60px">
                        </td>
                        <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir"
                            asp-route-id="@item.idEquipe">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>